<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<p>raviwork works!</p>
  
<br>

  

<nav class="navbar navbar-expand-sm bg-primary navbar-dark nav1">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#menu"> Full Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>







<div class="parent">
<div class="c1">
  <div class="container">
    <h1>Get deliseious food any time</h1>
    <p>Eat and everry time</p>
    <button class="h" > View Menu</button>
    <button class="h">Order Now</button>
  </div>
</div>
<br />
<h1 class="">Why Choose Us?</h1>
<p class="">
  We use both original recipes and classic versions of famous food items.
</p>
<div id="menu">
<div class="whychooseus" >
  <img
    src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png"
    class=""
  />
  <h1 class="">Food Service</h1>
  <p class="">
    Experience fine dining at the comfort of your home. All our orders are
    carefully packed and arranged to give you the nothing less than perfect.
  </p>
</div>
<div class="whychooseus" >
  <img
    src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png"
    class=""
  />
  <h1 class="">Fresh Food</h1>
  <p class="">
    The Fresh Food group provides fresh-cut fruits and vegetables directly
    picked from our partner farms and farm houses so that you always get them
    tree to plate.
  </p>
</div>
<div class="whychooseus">
  <img
    src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png"
    class=""
  />
  <h1 class="wcu-card-title mt-3">Best Offers</h1>
  <p class="wcu-card-description">
    Food Coupons & Offers upto
    <span class="offers">50% OFF</span>
    and Exclusive Promo Codes on All Online Food Orders.
  </p>
</div>
<h1>Explore Menu</h1>
<div class="row" id="menu">
  <div class="menucontainer col-sm-4 col-12">
    <img
      class="image"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png"
    />
    <p>view All <span class="glyphicon glyphicon-arrow-right"></span></p>
  </div>
  <div class="menucontainer col-sm-4 col-12">
    <img
      class="image"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png"
    />
    <p>view All <span class="glyphicon glyphicon-arrow-right"></span></p>
  </div>
  <div class="menucontainer col-sm-4 col-12">
    <img
      class="image"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png"
    />
    <p>view All <span class="glyphicon glyphicon-arrow-right"></span></p>
  </div>
  <div class="menucontainer col-sm-4 col-12">
    <img
      class="image"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png"
    />
    <p>view All <span class="glyphicon glyphicon-arrow-right"></span></p>
  </div>
</div>






</div>