<div class="parent1">
<div class="child1">
<h1 routerLink="home" >home</h1>
<h1 routerLink="charts">charts</h1>
<h1 routerLink="spuar">spuar</h1>
<h1 routerLink="databinding">data binding</h1>
<h1>layout</h1>
<h1>about</h1>
<h1 routerLink="eventbinding">event binding</h1>
<h1 routerLink="twowaybinding">two way binding</h1>
<h1 routerLink='calculater'>calculator</h1>
<h1 routerLink="square">Rectangle</h1>
<h1 routerLink="/raviwork">ravi work</h1>
<h1 routerLink="studentregistration">studentregistration</h1>
<h1 routerLink="studentregistration1n">eventregistration</h1>
<h1 routerLink="cart">Cart</h1>
<h1 routerLink="addtocart">addtocart</h1>
<h1 routerLink="empoledetails">empolye Registration </h1>
<h1 routerLink="pipes">pipes</h1>
<h1 routerLink="directives">cars</h1>
<h1 routerLink="service">google pay</h1>
<h1 routerLink="vechile">vechile</h1>
<h1 routerLink="accountdetails">accountdetails</h1>
<h1 routerLink="productofitems">productofitems</h1>
<h1 routerLink="socialmedia">Socialmedia</h1>
<h1 routerLink="email">Email Api</h1>
<h1 routerLink="/datacard">datacard</h1>
<h1 routerLink="/formvechicle">form vechile</h1>
<h1 routerLink="/createuser">Create User</h1>
<button (click)='logout()'>log out</button>
</div>
<div class="child2">
    
    <router-outlet></router-outlet>
<div class="search">

</div>
<div class="child3">
<div class="signup">

</div>
<div class="revenue">

</div>
<div class="opentickts">

</div>
</div>

</div>
</div>
