.parent1{
    height: 100vh;
    width: 100vw;
    display: flex;

}
.child1{
    height: 100%;
    width: 20%;
    background-color: black;
    overflow: auto;
}
h1{
    color: white;
    font-size: 20px;
}
.child2{
    height: 100%;
    width: 100%;
    background: red;
    overflow: auto;
    
}
.search{
    height: 20%;
    width: 100%;
    background-color: yellow;
}
.signup{
    height: 30%;
    width: 30%;
    background-color: blue;
}
.revenue{
    height: 30%;
    width: 30%;
    background-color: green;
    margin: 20px;
}
.opentickts{
    height: 30%;
    width: 30%;
    background-color: white;
    margin: 15px;
    
}
.child3{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 20px;
}